@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
* {
  box-sizing: border-box;
}
h5 {
  margin: 0px;
  text-align: center;
}
h1 {
  margin: 0px;

  font-size: 50px;
  font-weight: 400;
}
body {
  margin: 0px;

  background-color: #ffe53b;
  background-image: linear-gradient(147deg, #ffe53b 0%, #ff2525 74%);
  background-attachment: fixed;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}
.tt {
  border: none;
  height: 40px;
  font-size: 20px;
  border-radius: 5px;

  text-align: center;
}
#header h1 {
  text-align: center;
}
#btnClick {
  background-color: lawngreen;
}
#btnClick:hover {
  background-color: rgb(113, 172, 192);
}

/*additional*/
.active {
  opacity: 1;
  pointer-events: auto;
  background-color: red;
}
.grid-item {
  background-color: rgba(102, 212, 212, 0.8);
  border: none;

  padding: 10px;
  font-size: 30px;
  text-align: center;
  border-radius: 4px;
  margin: auto;
  margin-top: 20px;
  min-height: 20rem;
  width: 15rem;
}
#todo-list {
}
